
###> symfony/framework-bundle ###
/.env.local
/.idea
/.git
/.env.prod
/.env.test
/.git
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/src/build
/public/build
/yarn-error.log
/.gitignore
.stats.json
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
