{% extends 'base.html.twig' %}

{% block title %}Home Demo{% endblock %}

{% block body %}
    <div id="js-hello"></div>
    <br/><br/>
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="data col-lg-8">
                    <h2> Hello Bilemo User</h2>
                    <p> You can use this API if you are connected and referenced on database with JWT Token</p>
                    <!-- <p> connect to this space </p> -->

                    <p> API Endpoint </p>
                    <ul>
                        <li>List of Bilemo products : /api/Bilemo/products</li>
                        <li>Detail on product : /api/Bilemo/products/id_product</li>
                        <li>List of API users : /api/Bilemo/users</li>
                        <li>Detail on users : /api/Bilemo/user/id_user</li>
                        <li>Add a new user linked to a customer : /api/Bilemo/users/add</li>
                        <li>Delete a user linked to a customer : /api/Bilemo/users/delete/id_users</li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="data col-lg-8">
                    <h4> API Front Demo</h4><br/>
                </div>
            </div>

            <div class="row">
                <div class="data col-lg-8">
                    <div id="js-token"></div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div id="js-button-generate"></div>
                <!--
                <div class="data col-lg-3">
                    <button type="button" class="btn btn-success js-view-smartphones"
                            onClick="">View Smartphones Available</button>
                </div>

                <div class="data col-lg-2">
                    <button type="button" class="btn btn-success js-view-one-smartphone"
                            onClick="{console.log('OMG an onClick!') }">View one Smartphone</button>
                </div>

                <div class="data col-lg-2">
                    <button type="button" class="btn btn-success js-view-users"
                            onClick="{console.log('OMG an onClick!') }">View Your User</button>
                </div>


            </div>

            <br/>

            <div class="row">
                <div class="data col-lg-3">
                    <button type="button" class="btn btn-info js-add_user"
                            onClick="{console.log('OMG an onClick!') }">Add User</button>
                </div>

                <div class="data col-lg-2">
                    <button type="button" class="btn btn-info js-add-smartphone"
                            onClick="{console.log('OMG an onClick!') }">Add Smartphone</button>
                </div>

                <div class="data col-lg-2">
                    <button type="button" class="btn btn-danger js-delete-User"
                            onClick="{console.log('OMG an onClick!') }">Delete User</button>
                </div>

            </div>

            -->
                <br/><hr><br/>


            <div class="data ">
                <div id="js-form-post"></div>
                <div id="js-response-view"></div>
            </div>

        </div>
    </div>

{% endblock %}
