<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BileMo{% endblock %}</title>


        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}

            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div> <p>Test d'inclusion Js avec WebpackE</p> </div>
        {% block body %}

        {% endblock %}


        {% block javascripts %}
            {{ encore_entry_script_tags('main')}}
            <!--<script src="{ { asset('./build/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
